html body{
  margin: 0;
  padding: 0;
  min-width: 900px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* Style du menu "sticky" */
nav {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgb(245, 245, 245);
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 150%;
}

/* Aucune marge sur la balise parent à la balise <nav> */
#menu_list{
  margin: 0;
}

/* Style des liens cliqués présents dans le menu */
nav a {
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Couleur des liens quand la souris est dessus */
nav a:hover,
.sous_menu a:hover, footer a:hover {
  color: rgb(3, 155, 229);
}

/* Suppression des puces des listes à puces du menu */
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-inline-start: 10px;
}

/* Mise en page du menu */
nav ul li {
  flex: 1 1 auto;
  text-align: center;
  position: relative;
}

/* Mise en page générale du sous-menu */
.sous_menu {
  display: none;
  position: absolute;
  width: fit-content;
  z-index: 11;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  font-weight: 300;
}

/* Affichage du sous-menu en colonne */
nav>ul li:hover .sous_menu {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

/* Mise en page de chaque élément du sous-menu  */
.sous_menu li {
  flex: 1 1 auto;
  text-align: left;
  margin-top: 10%;
  padding-inline-start: 10%;
  margin-right: 10%;
}

/* La taille de la marge du bas du dernier élément du sous-menu */
.sous_menu .last_child {
  margin-bottom: 10%;
}

/* Mise en page de l'élément gauche du menu "nav" : Logo */
.left_item {
  display: flex;
  align-items: center;
  flex: 1;
}

/* Taille du logo dans le menu */
.left_item img{
  max-height: 90px;
}

/* Mise en page de l'élément droit du menu "nav" : Accueil, Neurofeedback, Hypnose, Le cabinet, Réservation */
.right_item {
  display: flex;
  justify-content: space-between;
  flex: 5;
  position: relative;
  align-items: center;
}

/* Taille du bouton "Réserver" */
button {
  font-size: 100%;
}

/* Mise en page du slider */
.slider-container {
  display: flex;
  position: relative;
  width: 85%;
  height: 300px;
  margin: auto;
  overflow: hidden;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
}

.slide{
  opacity: 0;
  position: absolute;
}

.slide.active{
  opacity: 1;
}

/* Animation du slider vers la gauche (suivant) */
.slide.active.next{
  animation: slideInLeft 1.5s ease forwards;;
}
.slide.next{
  animation: slideOutLeft 1.5s ease forwards;;
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

/* Animation du slider vers la droite (précédent) */
.slide.active.previous{
  animation: slideInRight 1.5s ease forwards;;
}

.slide.previous{
  animation: slideOutRight 1.5s ease forwards;;
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

/* Mise en page du texte de chaque slide */
.slide_txt{
  position: absolute;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 10px black;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  font-size: 175%;
  text-align: center;
}

/* Taille de l'image de chaque slide */
.slide img {
  width: 102%;
  transform: translateY(-25%);
}

/* Mise en page des boutons du slider */
.bouton_slide button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}
.prev {
  left: 1.5%;
}
.next {
  right: 1.5%;
}

/* Titre de chaque sous partie de la page */
.titre {
  text-align: center;
  margin-right: 7.5%;
  margin-left: 7.5%;
  font-size: 110%;
}

/* Mise en page de l'introduction (quoi ?, comment ?, qui ?) */
.introduction{
  font-size: 110%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  justify-content: center;
  text-align: justify;
  margin-bottom: 2%;
  margin-top: 2%;
}

/* Mise en page des principes de neurofeedback */
.principes{
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  gap: 2%;
  margin-bottom: 2%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  
}

/* Taille de chaque principe */
.principes_div{
  max-width: 700px;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* Taille des numéros de chaque principe */
.principes_num{
  font-weight: bolder;
  font-size: 300%;
  margin-bottom: 2%;
}

/* Taille du titre de chaque principes */
.principes_titre{
  font-size: 160%;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* Mise en page du texte de chaque principe */
.principes_txt{
  font-size: 110%;
  text-align: justify;
  margin-bottom: 5%;
}

/* Taille de l'illustration de chaque principe */
.principes video{
  width: 100%;
  border-radius: 2%;
}

/* Mise en page des troubles et symptômes*/
.neuro_symptoms {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

/*Mise en page des troubles*/
.trouble {
  border-radius: 10px;
  background-color: #ebe9e9;
  max-width: 400px;
  margin-top: 2%;
  margin-bottom: 2%;
  height: fit-content;
 }

 /*Taille et bordures de l'image des troubles*/
.trouble img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

/*Padding de la liste*/
.trouble ul {
  list-style-type: none;
  padding-left: 10%;
  padding-right: 10%;
}

/*Padding entre chaque élément de la liste*/
.trouble ul li {
  font-size: 140%;
  padding-top: 3%;
  padding-bottom: 3%;
}

/*Taille et padding du titre des troubles avec illustrations*/
.trouble h2 {
  font-size: 160%;
  font-weight: 600;
  padding-right: 10%;
  padding-left: 10%;
}

/* Marge de la balise <seance> */
.seance{
  margin-right: 7.5%;
  margin-left: 7.5%;
}

/* Mise en page de chaque partie de la balise <seance> */
.seance_div{
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: 4%;
  margin-bottom: 4%;
}
.seance_etape{
  text-align: right;
  font-weight: bolder;
  flex: 1;
  font-size: 160%;
}
.seance_txt{
  text-align: justify;
  border-left: 3px groove;
  padding-left: 3%;
  flex: 3.5;
  font-size: 110%;
}

/* Mise en page de la balise <materiel> */
.materiel{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 3%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}
.materiel_div{
  max-width: 800px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.materiel img{
  width: 100%;
  border-radius: 10%;
}
.materiel h4{
  font-size: 160%;
}
.materiel p{
  text-align: justify;
  font-size: 120%;
}

/* Mise en page de la balise <conclusion> */
.conclusion{
  margin-bottom: 2%;
  justify-content: center;
  text-align: justify;
  margin-left: 7.5%;
  margin-right: 7.5%;
  font-size: 110%;
}

/* Mise en page de la balise <tarif> */
#tarif{
  display: grid;
  justify-content: center;
  grid-template-columns: 40% 40%;
  gap: 5%;
  margin-bottom: 5%;
}
.tarif_div{
  text-align: center;
  width: 100%;
}
.prix{
  font-weight: bolder;
  font-size: 300%;
  margin-top: 5%;
  margin-bottom: 3%;
}
.tarif_txt, .durée{
  font-size: 200%;
  margin-bottom: 5%;
}
.durée{
  font-weight: lighter;
}

footer {
  background-color: rgb(245, 245, 245);
  height: 75px;
  font-size: 110%;
}
footer a {
  display: block;
  color: black;
}
footer p {
  margin: 0;
  padding: 20px;
}